#tinto-products{
    /*background: url('../../images/bg-wal.jpg') repeat;*/
    background-color: rgb(0, 0, 0);
    height: 100%;
    width: 100%;
    padding-top: 4%;



}


* {
    box-sizing: border-box;
}

p {
    margin-top: 8rem;
    font-size: 1rem;
    color: #303030;
}
div#carousel {
    perspective: 1200px;
    font-size: 0;
    margin-bottom: 3rem;

}
figure#spinner {
    transform-style: preserve-3d;
    /*height: 300px;*/
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50% -400px;
    transition: 1s;
}
figure#spinner figure {
    width: 20%;
    max-width: 500px;
    position: absolute;
    left: 40%;
    transform-origin: 50% 50% -400px;
    outline: 1px solid transparent;
    overflow: hidden;
    transition: 1s;
}
figure#spinner figure.focus {
    width: 26%;
    left: 37%;
    margin-top: -3rem;
}
figure#spinner figure img {
    width: 100%;
}
figcaption {
    position: absolute;
    top: 100%;
    width: 100%;
    padding: 0.3rem;
    z-index: 2;
    font-size: 1.1rem;
    background: rgba(255, 255, 255, 0);
    transition: 0.6s;
}
figure#spinner figure.current:hover figcaption, figure#spinner figure.current.caption figcaption {
    top: 90%;
    background: rgba(255, 255, 255, 0.5);
    bottom: 0;
}
div#carousel ~ span {
    color: #fff;
    margin: 13%;
    display: inline-block;
    text-decoration: none;
    font-size: 3rem;
    transition: 0.6s color;
    position: relative;
    margin-top: 17rem;
    border-bottom: none;
    line-height: 0;
}
div#carousel ~ span:hover {
    color: #ffffff;
    cursor: pointer;
}



/*.ss-icon.leftarrow{*/
    /*float:left*/
/*}*/

/*.ss-icon.rightarrow{*/
    /*float:right;*/

/*}*/
